PORT=5000
MONGODB_URI=mongodb+srv://resumeuser:resume10@cluster0.po8g7m5.mongodb.net/?appName=Cluster0
GEMINI_API_KEY=AQ.Ab8RN6L2SpLAlpaB8mldYF20mf3z3EfF-TZ2mMAZ6dkBNht2qg
GEMINI_MODEL=gemini-2.5-flash
FRONTEND_URL=https://resume-x-ai-ai-resume-analyzer-skil.vercel.app/
NODE_ENV=production
