PORT=5000
MONGODB_URI=mongodb+srv://resumeuser:ResumeX2026@cluster0.po8g7m5.mongodb.net/?appName=Cluster0
GEMINI_API_KEY=AQ.Ab8RN6Ldvi_dCI3pU3GIfVh5s0DHnwKmfnIkRm81BilR3CFy0w
GEMINI_MODEL=gemini-2.5-flash
FRONTEND_URL=https://resume-x-ai-ai-resume-analyzer-skil.vercel.app/
NODE_ENV=development
